<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
     <meta th:name="${_csrf.parameterName}"
  th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header"
  th:content="X-CSRF-TOKEN"/>
    <title>Oauth2 authserver</title>
    <link rel="stylesheet" th:href="@{/webjars/materializecss/0.99.0/css/materialize.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/material-design-icons/3.0.1/material-icons.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/materializecss/0.99.0/js/materialize.min.js}"></script>
    <style>
        center {
            margin: auto;
            width: 60%;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background: #fff;
        }

        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #039be5;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #039be5;
            box-shadow: none;
        }
        .hide_toggle_class{
        display:none;
        }
      
    </style>
</head>
<body>
<div class="section"></div>
<main>
    <div class="center">
        <i class="large material-icons">group</i>
        <div class="section"></div>

        <h5 class="blue-text">Please, login into your account</h5>
        <div class="section"></div>

        <div class="container" id="loginForm">
            <div class="z-depth-1 grey lighten-4 row"
                 style="display: inline-block; padding: 32px 48px 48px; border: 1px solid #EEE;">

                <form class="col s12" method="post" th:action="@{/login}">
            
                    <div class='row' th:if="${param.error}">
                    
                        <div class='col s12' style="color:red">
                        authentication failed
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='username' id='username' required="required"
                                   value="user"/>
                            <label for='username'>username</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='password' id='password' required="required"
                                   value="12345678"/>
                            <label for='password'>Enter your password</label>
                        </div>
                    </div>

                    <br/>
                    <div class="center">
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect blue'>
                                Login
                            </button>
                        </div>
                        
                       
                        
                    </div>
                </form>
               <div class='row'>
                            <button onclick="showDiv(false)" name='btn_login' class='col s12 btn btn-large waves-effect blue'>
                                sign up
                            </button>
                        </div> 
            </div>
        </div>
       
        <div class="container hide_toggle_class" id="signUpForm">
            <div class="z-depth-1 grey lighten-4 row"
                 style="display: inline-block; padding: 32px 48px 48px; border: 1px solid #EEE;">
				 <button  onclick="showDiv(true)" name='btn_login' class='col s12 btn btn-large waves-effect blue'>
                                Back
                            </button>
            
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='name' id='username1' required="required"
                                   value="user"/>
                            <label for='username'>username</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='password' id='password2' required="required"
                                   value="12345678"/>
                            <label for='password'>Enter your password</label>
                        </div>
                    </div>
                    
                     <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='password' id='password1' required="required"
                                   value="12345678"/>
                            <label for='password'>Re-enter your password</label>
                        </div>
                    </div>

                    <br/>
                    <div class="center">
                        <div class='row'>
                            <button type='submit' name='btn_login' onclick="addUser();" class='col s12 btn btn-large waves-effect blue'>
                                sign up
                            </button>
                        </div>
                    </div>
               
            </div>
        </div> 
       
    </div>
    
    <script>
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
     function showDiv(back){
    	if(!back){
    		$('#signUpForm').removeClass('hide_toggle_class');
        	$('#loginForm').addClass('hide_toggle_class');	
    	}else{
    		$('#signUpForm').addClass('hide_toggle_class');
        	$('#loginForm').removeClass('hide_toggle_class');	
    	}
    	
    	
    } 
     
     function addUser(){
    	 
    	 var userDet = {"id":Math.random(),"name":$('#username1').val(),"password":$('#password1').val()};
    		$.ajax({
    			type: "POST",
    			url: "/authserver/api/addUser",
    			contentType: "application/json",
    			beforeSend:function(request){
    				  request.setRequestHeader(header, token);
    			  },
    			data: JSON.stringify(userDet),							  
    			success:function(data){
    				
    				console.log(data);
    				alert(data);
    				if(data.toLowerCase() == "done"){
    					showDiv(true);
    				}
    				
    			}
    		}); 
    	 
     }
    </script>
</main>


</body>
</html>