<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Oauth2 authserver</title>
    <link rel="stylesheet" th:href="@{/webjars/materializecss/0.99.0/css/materialize.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/material-design-icons/3.0.1/material-icons.css}"/>
    <script type="text/javascript" src="/index.js"></script>
    <style>
        center {
            margin: auto;
            width: 60%;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background: #fff;
        }

        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #039be5;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #039be5;
            box-shadow: none;
        }
    </style>
</head>
<body>
<div class="section"></div>
<main>
    <div class="center">
        <i class="large material-icons">group</i>
        <div class="section"></div>

        <h5 class="blue-text">Please, login into your account</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="display: inline-block; padding: 32px 48px 48px; border: 1px solid #EEE;">

                <form class="col s12" method="post" th:action="@{/login}">
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='username' id='username' required="required"
                                   value="user"/>
                            <label for='username'>username</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='password' id='password' required="required"
                                   value="12345678"/>
                            <label for='password'>Enter your password</label>
                        </div>
                    </div>

                    <br/>
                    <div class="center">
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect blue'>
                                Login
                            </button>
                       
                        </div>
                    </div>
                </form>
                 <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect blue'>
                                sign up
                            </button>
                       
                 </div>
            </div>
        </div>
  
    </div>
</main>

<script type="text/javascript" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/materializecss/0.99.0/js/materialize.min.js}"></script>
</body>
</html>